.comments-chat-area {
  height: 175px;
  margin: 5px 0;
  overflow: auto;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  .mdi-message-processing-outline {
    font-size: 100px;
    color: #e9ecef;
  }
}

.comments-chat-footer {
  font-size: 1rem;
  display: flex;
  align-items: center;
  i:hover {
    color: #28A745
  }
}

.comments-chat-message {
  display: flex;
  padding: 10px 5px;
  //margin: 10px 0;
  font-size: 13px;
  ._body {
    width: calc(100% - 37px);
    padding-left: 10px;
  }
  ._head {
    font-size: 12px;
    color: gray;
  }
  ._message {
    font-size: 14px;
    font-weight: 600;
    white-space: normal;
  }
}