$height-modal-options-title: 47px;
$height-modal-options-btns: 50px;
$height-modal: 450px;
$height-modal-options-list: $height-modal - $height-modal-options-title - $height-modal-options-btns;


.modal-add {
  @extend %flex-center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #2d2c2c73;
}

.modal-win {
  width: 300px;
  //height: $height-modal;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.1rem;
  color: #404040;
}

.modal-head {
  @extend %flex-between;
  padding: 10px 15px 0 15px;
  border-bottom: 1px solid #F3F3F3;

  ._typeadd {
    width: 40px;
  }

  > div {
    padding-bottom: 3px;
    border-bottom: 3px solid white;
  }

  i {
    width: 36px;
    height: 36px;
    font-size: 22px;
    margin: auto;
    cursor: pointer;
  }

  .active {
    border-bottom: 3px solid #6197b7;
  }
}

.modal-tasks {
  padding: 10px 15px;

  textarea {
    width: 100%;
    height: 139px;
  }

  ._remindFor {
    @extend %flex-between;

    .inputGroup {
      width: 40px;

      input {
        text-align: center;
      }
    }

    .dropdown {
      width: 75px;
    }
  }
}

.modal-dealtype-btns {
  > div {
    @extend %flex-between;
  }

  padding: 10px 15px;
}

.modal-one-btn {
  @extend %inline-flex-center;
  width: 100%;
  height: $height-modal-options-btns;
  font-size: 20px;
  cursor: pointer;
  background-color: #28a745;
  color: white;

  &:hover {
    background-color: #28a745cf;
  }
}

.modal-two-btns {
  border-top: 1px solid #F3F3F3;

  > div {
    @extend %inline-flex-center;
    width: 50%;
    height: $height-modal-options-btns;
    font-size: 20px;
    cursor: pointer;

    &:first-child {
      background-color: #28a745;
      color: white;

      &:hover {
        background-color: #28a745cf;
      }
    }

    &:last-child {
      &:hover {
        background-color: #f3f3f3;
      }

      i {
        margin-left: 10px;
        font-size: 24px;
      }
    }
  }
}

.modal-square-btns {
  width: 58px;
  height: 58px;
  border: 1px solid lightgrey;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 3px;
  padding-top: 5px;

  &:hover {
    background-color: #D3D3D3;
  }

  &.active {
    background: #28A745;
    color: white;
  }

  i {
    font-size: 22px;
  }
}


.modal-options {
  @extend %flex-center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.modal-options-win {
  width: 300px;
  height: $height-modal;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  border-radius: 3px;
  overflow: auto;
}

.modal-options-title {
  @extend %flex-between;
  padding: 0 15px;
  height: $height-modal-options-title;
  border-bottom: 1px solid #F3F3F3;

  i {
    font-size: 24px;
    cursor: pointer;
  }

  span {
    @extend .text-crop;
    font-size: 20px;
  }
}

.modal-options-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: $height-modal-options-btns;
  font-size: 20px;
  cursor: pointer;
  color: white;

  i {
    font-size: 26px;
  }

  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #28a745;

    &:hover {
      background-color: #28a745cf;
    }

    &:first-of-type {
      border-right: 1px solid white;
    }
  }
}

.modal-options-select-list {
  overflow-y: auto;
  height: $height-modal-options-list;
}

.modal-options-select-list-item {
  @extend %flex-left;
  height: 40px;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }

  &:before {
    content: '\f130';
    @extend %mdi;
    margin-right: 10px;
    font-size: 23px;
    color: gray;
  }

  &.selected {
    background-color: #28a745;
    color: white;

    &:hover {
      background-color: #28a745cf;
    }

    &:before {
      content: '\f5e1';
      @extend %mdi;
      margin-right: 10px;
      font-size: 23px;
      color: white;
    }
  }

  &:active {
    background-color: #bfbfbf !important;
  }
}

.modal-options-contact-card {
  margin: 0.5em;
  padding: 0.4em;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: #f9f9f9;
  }
  i {
    font-size: 1.3rem;
  }
  ._block1 {
    margin-bottom: -22px;
  }
  ._left-block {
    width: calc(100% - 45px);
  }
  ._title {
    font-size: 1.2rem;
  }
  ._price {
    font-size: 1.1rem;
  }
}