.chat-area {
  height: 350px;
  margin: 5px 0;
  overflow: auto;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

.chat-head {
  margin-left: 10px;
}

.chat-footer {
  font-size: 14px;
  display: flex;
  align-items: center;
  i:hover {
    color: #28A745
  }
}


.chat-message {
  display: flex;
  padding: 10px 5px;
  margin: 10px 0;
  font-size: 13px;
  //background-color: #add8e638;
  //border-radius: 5px;
  ._body {
    width: calc(100% - 37px);
    padding-left: 10px;
  }
  ._head {
    font-size: 12px;
    color: gray;
  }
  ._message {
    font-size: 14px;
    font-weight: 600;
    white-space: normal;
    //padding: 5px;
    //background-color: burlywood;
    //border-radius: 7px;
  }
}