@import "classes", "elements", "corrections", "extend", "components", "modal_add", "modal_chat", "slider", "comments_chat";

body, html, #root {
  width: 100%;
  height: 100%;
}

#root {
  overflow-x: hidden;
}

$gamburger-height: 1;
$gamburger-depth: 2px;

.btn-menu-right {
  width: 21px;
  height: 12px * $gamburger-height + $gamburger-depth;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out, background-color 0.4s;
  cursor: pointer;
  border: solid #ffffff00;
  border-width: 11px 7.5px;
  box-sizing: content-box;
  border-radius: 50%;
  &:hover {
    background-color: #f3f3f3;
  }
  span {
    display: block;
    position: absolute;
    height: $gamburger-depth;
    width: 100%;
    background: #606060;
    border-radius: $gamburger-depth;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 6px * $gamburger-height;
    }
    &:nth-child(4) {
      top: 12px * $gamburger-height;
    }
  }
  &.show span {
    &:nth-child(1) {
      top: 6px * $gamburger-height;
      width: 0;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 6px * $gamburger-height;
      width: 0;
      left: 50%;
    }
  }
}


.table-cards {
  thead {
    color: #404040;
  }
  th._nodropdown, th .dropdown_btn, td {
    white-space: nowrap
  }
  th, td {
    height: 45px;
    vertical-align: middle !important
  }
  td {
    padding: 0 0.75rem;
  }
  th {
    border-top: none;
    padding: 0;
    &._nodropdown {
      padding-left: 0.75rem;
    }
    ._th {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &:hover, &.filtered {
      border-color: #ffc107;
      background-color: #f9f9f9;
    }
    .dropdown {
      width: 100%;
      height: 100%;
    }
    .dropdown_btn {
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 0.75rem;
      cursor: pointer;
    }
    i.mdi-close {
      margin-right: 0.75rem
    }
    i {
      cursor: pointer
    }
    .dropdown-menu {
      width: 230px;
      padding: 1rem;
      font-weight: normal;
    }
    button {
      font-weight: bold;
    }
  }
  tbody tr:hover {
    background-color: #f9f9f9;
  }
  .title-card {
    max-width: 400px;
  }
  .title-card:hover {
    div:first-of-type {
      text-decoration: underline;
    }
  }
  a {
    all: unset;
    cursor: pointer;
    //color: black;
  }
}


.table-suite {
  overflow-x: auto;
  //line-height: 1.3;
  th, td {
    height: 45px;
    padding: 0 0.75rem;
    vertical-align: middle !important;
  }
  thead {
    tr {
      color: #404040;
      th {
        border-top: none;
        >div {
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }
        &:hover {
          border-color: #ffc107;
          background-color: #f9f9f9;
        }
      }
    }
  }
  tbody {
    tr:hover {
      background-color: #f9f9f9;
    }
  }
  a {
    all: unset;
    cursor: pointer;
  }
}

$head-height: 48px;

.head {
  width: 100%;
  height: $head-height;
  position: fixed;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
  background-color: white;
  z-index: 2;
  ._title {
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 20px;
    margin: 0 0.5rem;
  }
  //._title-card {
  //  line-height: 1.2;
  //  white-space: nowrap;
  //  overflow: hidden;
  //  margin-left: .5rem;
  //  margin-right: auto;
  //  cursor: pointer;
  //  div:first-child {
  //    font-size: 20px;
  //  }
  //  div:last-child {
  //    font-size: 12px;
  //  }
  //}
  ._del {
    color: #6c757d;
    &:hover {
      @extend .color-red;
    }
  }
}

.title-card {
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  margin-left: .5rem;
  margin-right: auto;
  cursor: pointer;
  div:first-child {
    font-size: 20px;
  }
  div:last-child {
    font-size: 12px;
  }
}

.content {
  //height: calc(100% - #{$head-height});
  height: 100%;
  padding-top: $head-height;
}

$menu-right-width: 275px;
$menu-right-head-height: 58px;

.substrate {
  //width: calc(100% - #{$menu-right-width});
  width: 100%;
  height: calc(100% - #{$head-height});
  background-color: #2d2c2c73;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  top: $head-height;
  transition: opacity 0.2s, visibility 0.2s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.menu-right {
  width: $menu-right-width;
  height: calc(100% - #{$head-height});
  position: fixed;
  right: -$menu-right-width;
  top: $head-height;
  //z-index: 1;
  background: white;
  border-top: 1px solid #efefef;
  box-shadow: -17px 14px 8px -17px rgba(0, 0, 0, 0.15);
  transition: right 0.2s;
  &.show {
    right: 0;
  }
  .menu-right-head {
    //display: flex;
    //align-items: center;
    @extend %flex-center;
    height: $menu-right-head-height;
    padding: 2px 10px 2px 27px;
    border-bottom: 1px solid lightgrey;
    >div {
      &:nth-of-type(2) {
        margin-left: 4%;
        width: 49%;
        line-height: 1;
        font-size: 14px;
        font-weight: 500;
        overflow: hidden;
      }
      &:nth-of-type(3) {
        font-size: 18px;
        color: #A8A8A8;
      }
      &:nth-of-type(4) {
        border-left: 1px solid lightgrey;
        height: 95%;
        margin: 0 5%;
      }
    }
  }
  .menu-right-list {
    padding-top: 10px;
    height: calc(100% - #{$menu-right-head-height});
    overflow: auto;
    >a {
      all: unset;
      height: 45px;
      display: flex;
      align-items: center;
      cursor: pointer;
      &:hover {
        background-color: #f9f9f9;
      }
      i {
        font-size: 24px;
        color: #A8A8A8;
        margin: 0 27px;
      }
      span {
        font-weight: 500;
      }
    }
    ._transactions i {
      @extend .color-green;
    }
    ._contact i {
      @extend .color-red;
    }
    ._tasks i {
      //color: #FFC826;
      @extend .color-yellow;
    }
    ._doc i {
      @extend .color-blue;
    }
    ._analitic i {
      @extend .color-red;
    }
    ._archive i {
      @extend .color-haki;
    }
    ._other:hover i {
      //color: #6C757D;
      @extend .color-gray;
    }
  }
}

.rentSale_old {
  @extend %flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 30px;
  transition: all 1s;
  &._rent {
    background-color: lightgreen;
    &:before {
      content: 'А';
    }
  }
  &._sale {
    background-color: lightblue;
    &:before {
      content: 'П'
    }
  }
}

$switchSize: 0.2;
.rentSale {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 200px * $switchSize;
    height: 100px * $switchSize;
    background: deepskyblue;
    display: block;
    border-radius: 100px * $switchSize;
    position: relative;
    margin-bottom: 3px;
  }

  label:after {
    content: '';
    position: absolute;
    top: 5px * $switchSize;
    left: 5px * $switchSize;
    width: 90px * $switchSize;
    height: 90px * $switchSize;
    background: #fff;
    border-radius: 90px * $switchSize;
    transition: 0.3s;
  }

  input:checked + label {
    background: #bada55;
  }

  input:checked + label:after {
    left: calc(100% - #{$switchSize} * 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 130px * $switchSize;
  }

  input:not(:checked) + label + span,
  input:checked + label + span + span {
    display: none;
  }

  span {
    font-size: 10px;
    width: 44px;
    text-align: center;
  }

}


html.desktop { // Только для десктопов
  * { // Элементы, у которых изменяем скролл
    &::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #6c757d;
      border-radius: 3px;
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      -webkit-box-shadow: inset 0 0 6px #6c757d;
      background-color: #919191;
    }
  }
}


.tabs {
  .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    padding-top: 2px
  }
  .nav-item {
    white-space: nowrap;
    border: none;
    color: black !important;
    &:hover {
      background-color: #f9f9f9
    }
  }
  &._level-1 > nav > .nav-item.active {
    border-bottom: 3px solid #6197b7;
    i {
      color: #6197b7
    }
  }
  &._level-2 > nav > .nav-item.active {
    border-bottom: 3px solid #ffc107
  }
  &._level-3 > nav > .nav-item.active {
    border-bottom: 3px solid #ff3f64
  }
  &._level-4 > nav > .nav-item.active {
    border-bottom: 3px solid #099a51
  }
}






.login-page {
  width: 360px;
  max-width: 100%;
  padding: 8% 0 0;
  margin: auto;
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
      font-family: "Roboto", sans-serif;
      outline: 0;
      background: #f2f2f2;
      width: 100%;
      border: 0;
      margin: 0 0 15px;
      padding: 15px;
      box-sizing: border-box;
      font-size: 14px;
      &._error {
        background-color: peachpuff;
      }
    }
    button {
      @extend %flex-center;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      outline: 0;
      background: #4CAF50;
      width: 100%;
      border: 0;
      height: 51px;
      color: #FFFFFF;
      font-size: 14px;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover, &:active, &:focus {
        background: #43A047;
      }
    }
  }
  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
    a {
      color: #4CAF50;
      text-decoration: none;
      cursor: pointer;
    }
    &._error {
      color: red;
    }
    &.success {
      color: green;
    }
  }
  .register-form {
    display: none;
  }
}








.training_old {
  .alert {
    @extend %flex-between;
  }
  .list-group-item {
    cursor: pointer;
  }
}

.training {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  ._b1 {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border-radius: 0.25rem;
    max-width: 100%;
  }
  ._b3 {

  }
  ._b4 {
    display: flex;
    justify-content: space-around;
  }
  ._b5 {
    max-width: 50%;
  }
  h1, h2, h3 {
    text-align: center;
    overflow: hidden;
  }
  h1 {
    background-color: rgba(0, 128, 0, 0.6);
  }
  h2 {
    background-color: rgba(0, 128, 0, 0.4);
  }
  h3 {
    background-color: rgba(0, 128, 0, 0.2);
  }
  .list-group-item.active {
    z-index: 0;
  }
}


//.transactionStage {
//  width: 70px;
//  height: 70px;
//  ._stage {
//    position: relative;
//    top: -48px;
//    left: 20px;
//  }
//}

.table-contact {
  ._tr {
    display: flex;
    align-items: baseline;
    margin-top: 15px;
  }
  ._td1 {
    width: 90px;
  }
  ._td2 {
    width: 100%;
    input {
      width: 100%;
    }
    ._phone {
      //position: relative;
      //display: flex;
      //align-items: center;
      &:not(:first-of-type) {
        margin-top: 10px;
      }
      //i {
      //  position: absolute;
      //  right: 5px;
      //  font-size: 24px;
      //  color: #32e0c0c4;
      //  cursor: pointer;
      //}
    }
    ._oneMorePhone {
      text-align: right;
      i {
        font-size: 12px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}

.contact-comment {
  height: 270px;
  flex: 1 1 auto;
  position: relative;
  div {
    padding: 0.5rem;
    //color: lightgray;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 100%;
  }
  textarea {
    width: 100%;
    height: 100%;
  }
  i {
    position: absolute;
    font-size: 26px;
    bottom: 6px;
    right: 4px;
    cursor: pointer;
  }
}

.objectsRequests {
  ._btn {
    transition: background-color 0.4s;
    cursor: pointer;
    >i:first-of-type {
      font-size: 24px;
    }
    ._span {
      margin: 0 5px;
      white-space: nowrap;
      overflow-x: hidden;
    }
    &:hover {
      background-color: #f3f3f3;
    }
    &._noicon {
      @extend %flex-between;
      height: 33px;
      min-width: 170px;
      padding: 0 8px;
      border: 1px solid #E2E2E2;
      border-radius: 3px;
    }
    &._icon {
      @extend %flex-center;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      ._span {
        display: none;
      }
    }
    &._chosen {
      color: white;
      i {
        color: white;
      }
      &._object {
        background-color: #6197B7;
      }
      &._request {
        background-color: #E05432;
      }
    }
  }
}




.change_logs_table {
  margin-top: 20px;
  white-space: pre-wrap;
  thead {
    background: aliceblue;
  }
  td {
    vertical-align: top;
  }
  td:nth-child(1) {
    width: 180px;
    min-width: 120px;
  }
  td:nth-child(2) {
    width: 190px;
    min-width: 130px;
  }
  td:nth-child(4), td:nth-child(5) {
    width: 280px;
  }
}



// HappyBirthday
//#happyBirthday {
//  margin: 0;
//  background: #020202;
//  cursor: crosshair;
//}
//
//canvas {
//  display: block
//}
//
//h1 {
//  position: absolute;
//  top: 20%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  color: #fff;
//  font-family: "Source Sans Pro";
//  font-size: 5em;
//  font-weight: 900;
//  -webkit-user-select: none;
//  user-select: none;
//}


// Цитата на главной https://html5book.ru/krasivoe-oformlenie-citat-na-sayte/
blockquote {
  margin: 0;
  background: white;
  border-top: 5px solid #EAF9F9;
  border-bottom: 5px solid #EAF9F9;
  color: #3A3C55;
  padding: 30px 30px 30px 90px;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
blockquote:before {
  content: "\201C";
  font-family: serif;
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  background: #FB6652;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  line-height: 1.35;
  text-align: center;
}
blockquote p {
  margin: 0 0 16px;
  font-size: 22px;
  letter-spacing: .05em;
  line-height: 1.4;
}
blockquote cite {
  font-style: normal;
}
blockquote footer {
  text-align: right;
}