<div class="p-3">
    <div class="accordion" id="accordionExample">
	<center><div><strong><h3>Теория</h3></strong></div></center>
		<div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Как проверить что владелец не мошенник?
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
				<ul>
<li>Мало задает вопросов, легко доверяет вам и быстро соглашается на договор</li>
<li>Трясутся руки, неуверенно отвечает, несмотрит в глаза, неестественный разговор идет</li>
<li>Тщательно проверяем паспорт на наличие исправлений и прозрачной печати на фото</li>
<li>Проверить не живет ли там кто-то сейчас, если собственник говорит что никто не живет</li>
<li>Проверить не сдается ли она посуточно. И в интернете и у сосседей</li>
<li>Не отправлять деньги на карту риэлтору или владельцу. Безопаснее просить местных друзей или родственников</li>
<li>Цена занижена на 30-50% от средних по рынку</li>
<li>Если ничего незнает о соседях или неуверенно говорит</li>
<li>Может ли предоставить чеки по комуналке.Или скриншоты с кабинета, Или просто отправленные платежи по месяцам в мобе в приват24</li>
</ul>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Пустой
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Текст ответа 3
                </div>
            </div>
        </div>
    </div>


</div>