<div class="p-3">
    <div class="accordion" id="accordionExample">
	<center><div><strong><h3>Возражения от продавца</h3></strong></div></center>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Я сотрудничаю со всеми риэлторами
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
				<ul>
                    <li>С нами сотрудничают десятки специалистов из разных компаний.  Если вы хотите подключить как можно большее количество продавцов, то у нас есть возможность контролировать этот процесс. При этом у вас не будет проблем на каждом этапе продажи. Иначе все будут вести работу несогласовано понижая при этом цену вашей квартиры и конкурируя друг с другом.</li> 
                    <li>Я готов выступить в роли вашего официального представителя, но не смогу приступить к работе по продвижению вашей квартиры если не будет гарантий оплаты труда.</li>
				</ul>
				</div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        В чем ваше преимущество?
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Я нужен вам  для тонкого управления спросом, для проведения торгов и переговоров. Могу кратко рассказать список того,что мы делаем:
					<br><br>
					<ul>
<li>Мы постоянно тщательно анализируем рынок</li>
<li>Даем рекомендации по улучшению внешнего вида жилья</li>
<li>Проводим первичную проверку документов для проведения сделки</li>
<li>Собираем пакет необходимых документов и отдаем в юридическую службу</li>
<li>Работаем с наиболее мотивированными покупателями</li>
<li>Реализуем маркетинговый план по продвижению на рынке</li>
<li>Делаем профессионально фото и видеосъемку</li>
<li>15 часов в сутки готовы консультировать всех кто заинтересуется (7:00 - 23:00)</li>
<li>Отсекаем нежелательных клиентов, тоесть просмотры ваших конкурентов или перекупов</li>
<li>Приводим на показы всех желающих только 1 раз в неделю</li>
<li>Квартира уйдет по той цене, по которой вы согласитесь</li>
<li>Контролируем процесс завершения сделки и получением вами всей суммы денег</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Я продам сам, зачем мне риэлтор
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Хорошо, у нас есть бесплатный план "как продать самостоятельно. Приходите к нам в офис чтобы получить его. <strong>(еще не готов)</strong>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        5% дорого
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                <div class="card-body">
				<ul>
                    <li>Тот кто берет меньше, тот или новичок или невыполняет требуемый объем работы для нужного результата</li>
					<li>Это стандартный % комиссионного вознаграждения на рынке недвижимости. Вас не смущает минимальная торговая наценка в магазинах 25%, а в ресторанах - 100%? Во многих странах' стандартные риэлторские комиссионные - 6%.</li>
					<li>Это комфортный %, мотивирующий к хорошей работе. Почему Вы хотите с самого начала нашего взаимодействия демотивировать меня? Я должен влюбиться в объект, тогда я буду успешен в продвижении и переговорах - это в ваших интересах!</li>
					<li>Я успешный агент и у меня постоянно есть клиенты с нашим вознаграждением 5%. Как Вы думаете, какой объект я буду продавать в первую очередь? Как бы Вы действовали на моем месте?</li>
					<li>Я хочу Вам доказать, что умею торговаться. Вы же хотите иметь дело с тем, кто умеет отстаивать свое мнение и интересы - как свои, так и своего заказчика, не так ли? Поверите ли Вы в это, если я сразу сдамся? Если агент настолько не уверен в себе, что сразу соглашается понизить стоимость  своих услуг, то  он также согласится с предложением покупателя понизить стоимость Вашего объекта, Вы согласны?</li>
					<li>Я буду делиться комиссией с другими профессиональными посредниками. Какая комиссия, по-Вашему, привлечет больше внимания другого агентства?</li>
					<li>Многим уважаемым заказчикам нашей компании и моим лично услуга была оказана за 5%, и они остались очень довольны (могу показать отзывы). Я не могу позволить сейчас обидеть их тем, что, оказывается, наша услуга могла быть и дешевле, просто они «не сторговались» с нами... </li>
					<li>Вы заплатите нам только после того, как мы удовлетворим Вашу потребность на рынке. Вы получите прекрасно выполненную работу, а мы - заслуженные 5% после того, как Вы ее примите. Это честная сделка, разве не так? </li>
					<li>Я знаю, что есть посредники, которые берут за свою услугу на 1-2% меньше. Однако я знаю, что часто заказчики не хотят обращаться к ним во второй раз. Моей услугой Вы, как и очень многие наши клиенты, останетесь довольны. Я умею продавать! </li>
					<li>Профессиональный посредник при продаже Вашего объекта также жизненно важен, как хороший доктор или механик по ремонту тормозов Вашего автомобиля. Вы ведь выбираете лучшее, правда? Вы ничего не выиграете на % комиссионных, если в итоге Ваш объект будет продан по заниженной цене в результате непрофессиональных действий слабого посредника. </li>
                    <li>Если вы хотите продать по рыночной цене,а не на 20-30% девшеле, то продать ее на рынке с пониженным спросом практические невозможно, без работающего на сегодня алгоритма продажи, который стоит денег, времени и навыков специалистов по продажам.</li>

              </ul>
				</div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        У меня цена правильная
                    </button>
                </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                <div class="card-body">
				<ul>
<li>Вас как покупателя убедила бы цена обоснованая только желанием собственника товара? Сейчас нет дефицита объектов, предложения на много превышают спрос. В таких условиях недвижимость продастся выгодно только с помощью эфективных алгоритмов продажи.</li>
<li>Начать с правильной привлекательной цены гораздо лучше, чем изначально не иметь никого с кем торговаться. И всех оттолкнуть завышенной ценой. Если мы вместе.увидиим повышенный спрос, то покупатели сами приведут нас к рыночной цене в процессе торгов. Тоесть мы не продадим первым желающим.</li>
<li>Обратите внимание что мы говорим не оконечной цене а о начальной. И в договоре с вами мы прописываем именно стартовую цену,которую используем в рекламе и в переговорах с покупателями которые нам ничего не платят.</li>
<li>Мне не выгодно понижать стоимость вашей квартиры. потому что я её не покупаю  а продаю. Окончательное решение о цене продажи принимаете только вы.</li>
<li>Завышенной стартовой ценой мы отпугнем мотивированного покупателя, можкс обидеть или создать негатив. Уверенные в себе покупатели и мои коллеги- партнеры, которые ценят, в том числе, свое время, видя изначально необоснованно завышенную цену, махнут рукой и даже не поедут на просмотр. Последующее снижение цены объекта, когда вас уже будет серьезно поджимать время, и когда в объявлении появится слово "срочно", только укрепит этих покупателей в том, что они были правы, и вызовет у них желание давить по цене, зная о ваших трудностях и высокой мотивации.</li>
<li>Рыночная цена определяется не вами и не вашими потребностями. Это не аргумент для покупателя и никаким образом не влияет на повышение стоимости вашей квартиры. Более того, демонстрация вами повышенной мотивации подтолкнет покупателей сильнее торговаться.</li>
<li>Объекты недвижимости уже не уходят как горячие пирожки. Из всех предложений в нашем городе продаются ежемесячно только 5%. Как вы думаете, какие из них попадают в столь малое число закрытых сделок? Вовсе не самые дешевые, а те, которые предлагаются с правильным соотношением «цена - качество». И я также как и вы, максимально заинтересован заработать, а не помогать кому-то продать другие объекты, более привлекательные по цене. Лучше наоборот, не правда ли? Меня не привлекают длительные сроки рекламирования объекта в случайной надежде на чудо.</li>
<li>Рыночная не назначается ни аналитиками, ни оценщиками, которые, как и вы сейчас, чаще всего ориентируются на публикации в СМИ. Риэлторы знают, как много там недостоверной и неадекватной информации. Ориентироваться надо на реальные цены продаж, а не на «хотения» немотивированных собственников у которых они завышены на 10-20% и порой даже больше, и «зависают» на рынке на долгое время. Я, обладая непубличной информацией, сделал анализ похожих объектов, проданных и непроданных за последние три месяца и предлагаю начать с такой вот цены.</li>              
<li>Вы все-таки хотите «высидеть свою цену»? Тогда я просто не рекомендую выходить на рынок сейчас. Действительно, некоторые прогнозируют рост цен в обозримом будущем (правда, ровно столько же прогнозов дальнейшего длительного снижения цен и объемов продаж, но, напомню - по жизни я оптимист! :)) Если вы можете себе позволить не торопиться и предпочитаете дождаться лучших времен, давайте будем на связи, я обещаю постоянно мониторить рынок и советоваться с вами о подходящем моменте запуска продажи.</li> 
			</ul>
				</div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingSix">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        У меня новые ремонт и мебель
                    </button>
                </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
					<li>Никого не убедят цифры ваших затрат, даже если продемонстрировать оплаченные счета и чеки. Это очень индивидуальные предпочтения. Будьте готовы к жесткой критике со стороны покупателей того, что вам кажется ценным в вашей квартире! Вы потратились бы снова на такой ремонт, мебель и технику, если бы знали о предстоящем переезде? Да? - Значит вы сделали эти улучшения для себя и своей семьи, это правильные вложения. Но это не значит, что они понравятся другим, что покупатели их также высоко оценят.</li>
					<li>Правильно ли я понимаю, что вы как и многие собственники недвижимости города и страны сожалеете об этих затратах, и не сделали бы их вновь, если бы тогда точно знали, какая кризисная ценовая ситуация будет на рынке? То есть, сегодня вы сами не купили бы свой объект по этой цене? Если вы, проанализировав текущее состояние рынка, сегодня уже не вложили бы сюда столько, то как я смогу обосновать эту цену иным покупателям? </li>
					</ul>
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="headingSeven">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Цена такая, ибо нужно жилье в другом городе
                    </button>
                </h2>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                <div class="card-body">
				<ul>
                    <li>Вы согласились бы обменять свою квартиру на аналогичную в с. Анновка без доплаты? Конечно нет - вы бы обоснованно требовали разницу рыночных цен в двух населенных пунктах. Поэтому нет смысла в качестве ориентира цены вашей квартиры брать стоимость аналогичного объекта «в Днепре», куда вам надо переехать. Кстати, хорошо бы вам «в Днепре» не попасть на продавца квартиры, которому надо переехать в «Одессу», где цены еще в два раза дороже… </li>			
			    </ul>
                </div>
            </div>
        </div>

		<div class="card">
            <div class="card-header" id="heading8">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        Я уже работаю с риэлтором
                    </button>
                </h2>
            </div>
            <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    
Как давно работаете с агентством или риэлтором??
<ul>
<li>- Недавно - переходим к след вопросу</li>
<li>- Давно - выясняем более точный срок и рассказываем что с нами процес продажи занимает в среднем 1 месяц.</li>
</ul>
</ul>
Вы работаете по эксклюзивному договору или нет?
<ul>
<li>- да - то благоадрим за общение и скидываем список наших услуг в вайбер, что мол если понадобимся то с радостью поможем</li>
<li>- нет - Задаем вопрос, а как вы контролируете его эффективность и какие сроки у вас устновлены?</li>
</ul>
Ваш риэлтор он из агентства или одиночка?
<ul>
<li>- незнаю, или да одиночка - Будьте аккуратны с ним, ведь риэлторы которые не закреплены за агентством по сути не несут никакой ответственности.</li>
<li>- да, он с агентства "---хорошего---" - погодите, на сколько я знаю в том агентстве сейчас работает 5 человек, а у нас в городе 7 районов, не считая сельскую местность. Вам он сказал в каком районе специализируется?</li>
</ul>
слушаем какойто ответ ...

Смотрите, у нас в данный момент работает 24 человека и по каждому району закрпелено по 2 риэлтора, а в некоторых и по 3. 
Двайте я вам отправлю информацию о нас и как мы работаем, а вы оцените и примите решение.
                </div>
            </div>
        </div>
    </div>
<br>
<br>

</div>