<div class="p-3">
    <div class="accordion" id="accordionExample">
	<center><div><strong><h3>Во время показа</h3></strong></div></center>
	<hr>
	<div><strong><h4>Что делаем</h4></strong></div>
	<ul>
	<li>Пробуем записывать на диктофон процес показа</li>
    <li>Всегда говорить за экологию</li>
    <li>Недостатки показываем преимуществами</li>
    <li>У угловой кквартиры плюс что нет соседей</li>
    <li>У любой квартиры преподносить плюс что частный сектор в дали, осенью и весной не нюхаете дым</li>
    <li>Можно преподносить что площадки наоборот нету, или есть но далеко и нет шума. А если дети постарше то спортплощадка вот недалеко</li>
    <li>Ходим показываем и рассказываем по сценарию и с довольной улыбкой</li>
    <li>Собираем предложения по цене с контактными данными</li>
    <li>Если проблема в цене, то можем услышать вопрос: Тогуетесь? - конечно, в обе стороны</li>
    <li>Если проблема в непонятном факторе, то:</li>
        <ul>
                <li>После просмотра предложить "Хотите посмотреть еще раз сами?" (Например уже когда вышли из дома, но собственник еще дома)</li>
                <li>Можно покупателя попросить прислать нам обьекты которые ему более интересны, чтоы узнать с кем мы конкурируем.</li>
		    </ul>
    </ul>
				
   <div><strong><h4>Возражения</h4></strong></div>
		<div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Нет, я хочу на 1000у.е. меньше
                    </button>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
				Если покупатель хочет купить за 15000, а продавец за 16000 продает, то можно предложить убрать с недвиги то ради чего он ее покупает. Но сперва это нужно узнать :) Или, убрать часть мебели и техники. Или уступаем в цене но покупатель берет на себя переоформление
                </div>
            </div>
        </div>
		<div class="card">
            <div class="card-header" id="heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Пустой
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    Текст ответа 3
                </div>
            </div>
        </div>
    </div>


</div>