<div class="p-3">
    <div class="accordion" id="accordionExample">
        <center>
            <div><strong><h3>Перед показом</h3></strong></div>
        </center>
        <hr>
        <div><strong><h4>Что делаем</h4></strong></div>
    </div>


    <div>
        <input type="checkbox" class="checkbox" id="cb12">
        <label for="cb12">Назначать время встречи диапазоном, например с 13 до 13:30</label>
    </div>

    <div>
        <input type="checkbox" class="checkbox" id="cb1">
        <label for="cb1">Делаем сценарий рассказа об объекте. Прорабатываем возражения на счет недостатков</label>
    </div>
    <div>
        <input type="checkbox" class="checkbox" id="cb2">
        <label for="cb2">Брать всегда бахилы</label>
    </div>
    <div>
        <input type="checkbox" class="checkbox" id="cb3">
        <label for="cb3">Приезжаем за 30 минут до показа</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb4">
        <label for="cb4">Делаем порядки так чтобы создать ощущение пространтства и чистоты</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb5">
        <label for="cb5">Проверяем работоспособность: свет, вода, газ</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb6">
        <label for="cb6">Снимаем фотки со стен и магнитики с холодильника</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb7">
        <label for="cb7">Завариваем кофе в турке чтобы он рапространился. Или запах запеченных яборк с корицы и творога</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb8">
        <label for="cb8">Можно купить пахучки, чтобы перебить естественный, от животных или от курения запахи</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb9">
        <label for="cb9">В туалете должно быть чисто и крышка унитаза закрыта. Животных убираем совсем</label>
    </div>
	<div>
        <input type="checkbox" class="checkbox" id="cb10">
        <label for="cb10">Подьезд подмести хоть. Двери исправны должны быть</label>
    </div>
    <div>
        <input type="checkbox" class="checkbox" id="cb11">
        <label for="cb11">Просим собственника не присутствовать при показе</label>
    </div>

</div>