<div class="p-3">
<center>
    <p>1.Мастерская успеха. Владимир Димитриадис </p>
    <iframe width="100%" height="515" src="https://www.youtube.com/embed/kEH2HvTh1f0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>2.Как стать успешным риэлтором? Владимир Димитриадис </p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/dAcdlFHlGVQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>3.Как убедить собственника подписать договор </p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/LbBdxoDAAZo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>4.Фишки от Олеси Рудаковой </p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/g-Nf5hE8VvM?start=510" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>5.Как убедить собственника снизить цену? №1 </p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/z8xseQfI_p8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>6.Как убедить собственника снизить цену? №2</p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/NzTl2RD70WU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>7.Работа с покупателями и продавцами. Сергей Смирнов</p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/AD-visTpzYw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>8. Очень интересное 4-х часовое видео :) Владимир Димитриадис</p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/s6to4xNV4uA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>9.Как узнать, по какой цене клиент готов купить квартиру? Сергей Смирнов.</p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/D2HOTcSZXnU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p>10.Как риэлтору получить лучшую цену за квартиру?</p>
	<iframe width="100%" height="515" src="https://www.youtube.com/embed/w7C_1Z7uxLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</center>
</div>